# Project Related FIles

assets/scripts/php/vendor/*
# doc/*


#Common Cache files
~*


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
